{% extends 'home/index.html' %}
{% load static %}

{% block head %}
<meta name="csrf-token" content="{{ csrf_token }}">
{% endblock %}

{% block title %}Mini-Talk{% endblock %}

{% block animation_elements %}{% endblock %}
{% block logo-movie %}{% endblock %}
{% block about-content %}{% endblock %}

{% block input_container %}


<div class="message-container" style="margin-top: 50vh;">
    <!-- 세션에서 가져온 사용자 메시지를 스타일링된 메시지 박스로 표시 -->
    {% if request.session.user_message %}
        <div class="user-message-bubble">
            {{ request.session.user_message }}
        </div>
    {% else %}
        <div class="placeholder-message">
            오늘의 당신을 기록해보세요!
        </div>
    {% endif %}
</div>

{{ block.super }}
{% endblock %}
