{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Alice{% endblock %}</title>
    {% block head %}
    <meta name="csrf-token" content="{{ csrf_token }}"> <!-- CSRF 토큰 추가 -->
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="top" style="margin: 0;">
    {% block header %}
    <header class="header"> 
        <div class="logo-container">
            <a href="{% url 'home_index' %}">
                <div class="logo">
                    <img class="logo-img front" src="{% static 'images/logo_back.png' %}" alt="Logo Back">
                    <img class="logo-img back" src="{% static 'images/logo_front.png' %}" alt="Logo Front">
                </div>
            </a>  
            <nav class="navbar">
                <ul class="nav-links">
                    <li><a href="{% if request.path == '/home/' %}#about{% else %}{% url 'home_index' %}#about{% endif %}" class="scroll-link">ABOUT</a></li>
                    <li><a href="{% if request.path == '/home/' %}#try{% else %}{% url 'home_index' %}#try{% endif %}" class="scroll-link">TRY SERVICE</a></li>
                    <li><a href="{% if request.path == '/home/' %}#contact{% else %}{% url 'home_index' %}#contact{% endif %}" class="scroll-link">CONTACT</a></li>
                </ul>
            </nav>          
        </div>
        
        
        <div class="qr-wrapper" style="margin-top: 129px; margin-right: 30px;">
            <a href="{% url 'home_qr' %}"><img src="{% static 'images/QR_2.png' %}" alt="QR Code" class="qr-icon" style="width: 50px;"></a>
        </div>  
    </header>
    {% endblock %}
  

    <main> 
        {% block qr-content %}
        {% endblock %}
        {% block logo-movie %} 
        <!-- about section -->
        <section id="home" style="background-color: black; width: 120vh; margin-top: 15%;">
            <div class="logo-movie-container">
                <div class="logo-movie">
                    <video class="logo-movie-white" autoplay muted loop>
                        <source src="{% static 'images/logo_movie_white_4.mp4' %}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
            </div>
            
        </section>
        {% endblock %}

        {% block about-content %}
        <section id="about" style="background-color: black; width: 100%; height: fit-content; padding-bottom: 45px;">
            <div class="about-content">
                <h2 style="color: white; text-align: center; margin-top: 3%; font-size: 38px;">ABOUT SERVICE</h2>
                <p style="color: white; text-align: center;">kcBERT 모델에 한국어 말뭉치 데이터셋을 추가 학습하여 사용자 텍스트를 5가지 감정 클래스로 분류 예측합니다.</p> 
            </div>
            <div class="model_proba" style="text-align: center;">
                <div class="model_proba_1" style="padding-top: 90px; text-align: center;">
                    <h3 style="color: white; font-style: italic; font-size: 20px;">"초기 모델 학습"</h3>
                    <img class="model_proba_img" src="{% static 'images/model_proba_1.png' %}" alt="model_proba_1" style="width: 40%; margin-right: 0.5%; margin-left: 0.5%;">
                    <img class="model_f1score_img" src="{% static 'images/model_f1score_1.png' %}" alt="model_f1score_1" style="width: 23%;">
                    <div class="about-texts_1">
                        <p style="color: white; font-size: 20px;">▶ 첫 번째 모델 학습 정확도: 약 76%</p>
                        <p style="color: white; font-size: 12px;">클래스 불균형으로 부정적 클래스(감정라벨 0,1)의 F1 Score가 낮음</p>
                        <p style="color: white; font-size: 12px;">띄어쓰기에 둔감하여 토크나이징이 제대로 이루어지지 못하면 모델의 예측도가 낮아짐</p>
                        <p style="color: white; font-size: 12px;">Ex. '좋음ㅠㅠㅠ근데'를 0(강한 부정)으로 라벨링 한 초기 모델</p>
                    </div>
                    <div class="about-texts_2" style="margin-top: 7%; margin-bottom: 7%;">
                        <p style="background-color: white; color: black; font-style: italic; margin-left: 35%; margin-right: 35%; padding: 4px; font-weight: bold;">이를 해결하기 위해</p>
                        <p style="color: white; font-size: 12px;">1. 클래스 가중치를 반영하여 모델 학습(클래스별 샘플/전체 샘플)</p>
                        <p style="color: white; font-size: 12px;">2. 형태소 분석기 비교 분석 → Kiwi(지능형 한국어 형태소 분석기) 적용</p>
                        <div style="text-align: center;">
                            <p style="color: white; font-size: 12px;">3. 전처리 함수 - 형태소 사전 추가</p>
                            <p style="background-color: white; color: rgb(0, 53, 0); padding: 4px; margin-left: 36%; margin-right: 36%; font-size: 12px;">(네이버 영화 리뷰 데이터셋 긍,부정 기여도 높은 형태소 추출 / Logistic Regression)</p>
                        </div>
                    </div>
                </div>
                <div class="model_proba_2" style="text-align: center;">
                    <h3 style="color: white; font-style: italic; font-size: 20px;">"두 번째 모델 학습"</h3>
                    <img class="model_proba_img" src="{% static 'images/model_proba_2.png' %}" alt="model_proba_2" style="width: 31%; margin-right: 0.5%;">
                    <img class="model_f1score_img" src="{% static 'images/model_f1score_2.png' %}" alt="model_f1score_2" style="width: 32%; margin-left: 0.5%;">
                </div>   
                <div class="about-texts_3">
                    <p style="color: white; font-size: 20px;">▶ 두 번째 모델 학습 정확도: 약 80%</p>
                    <p style="color: white; font-size: 12px;">교차검증을 통해 F1 Score가 높고 예측 정확도도 높은 편으로 확인된 모델 선택하였습니다.</p>
                </div>        
                <div class="about-texts_4" style="margin-top: 7%; margin-bottom: 7%;">
                    <p style="background-color: white; color: black; font-style: italic; margin-left: 35%; margin-right: 35%; padding: 4px; font-weight: bold;">발전 과제</p>
                    <p style="color: white; font-size: 12px;">현재 ALICEchat 모델은 주로 단순한 텍스트와 표준화된 형태의 띄어쓰기가 포함된 문장을 분석하는 수준에 머물러 있습니다.</p>
                    <p style="color: white; font-size: 12px;">이를 개선하고 보다 정교한 사용자 리뷰 분석을 위해 다음과 같은 발전 과제를 설정하였습니다</p>
                    <p style="color: white; font-size: 12px;">1. 형태소 사전 확장을 통해 전처리 과정을 더욱 정교화</p>
                    <p style="color: white; font-size: 12px;">2. 특정 도메인 데이터셋을 선정하여 추가 학습 진행</p>
                    <p style="color: white; font-size: 12px;">3. 하이퍼파라미터 최적화를 위한 세분화된 조정 및 모델 테스트</p>
                    <p style="color: black; background-color: white; margin-left: 28%; margin-right: 28%; padding: 4px; font-style: oblique; font-size: 12px; font-weight: bold;">학습용 모델로 부족한 부분이 많습니다. 가볍게 봐주시면 감사드리겠습니다!</p>
                </div>
                
            </div>
        </section>
        {% endblock %}
        
        <!-- try section -->
         
        <section id="try" style="height: 105vh;">
            
            {% block try-content %}
            <div class="try-content">
                <h2 style="text-align: center; color: black; font-size: 40px; font-weight: bold; margin-top: 3%;">TRY ALICE</h2>
                <p style="text-align: center; font-size: 14px;">빈칸에 글을 작성하고 Enter 또는 화살표를 누르면 이동합니다.</p>
            </div>
            {% endblock %}
            {% block animation_elements %}
            <div id="fallingContainer" class="falling-container">
                <div id="balloon" class="balloon">Hello, Alice. How was your day?</div>
                <div id="userBalloon" class="userBalloon">. . .</div>
            </div>
            
            {% endblock %}

            {% block analysis-result %}
            <div id="loading-spinner" style="display: none;">
                <div class="spinner-icon"></div>
            </div>
            
            <div id="analysis-result" class="analysis-result">
                <!-- 챗봇 index.html에서 보여질 부분 -->
            </div>
            {% endblock %}

            {% block input_container %}
            <div class="input-container">
                <textarea id="textBox" class="textBox" placeholder="Write your message"></textarea>
                <button type="button" class="text-button" id="sendButton">
                    <img src="{% static 'images/arrow_top.png' %}" style="width: 7%; min-width: 28px;">
                </button>
            </div>
        </section>

        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
                const sendButton = document.getElementById("sendButton");
                const textBox = document.getElementById("textBox");
                const spinner = document.getElementById("loading-spinner");
                const resultDiv = document.getElementById("analysis-result");

                const sendMessage = () => {
                    const message = textBox.value.trim();
                    if (!message) {
                        alert("Please enter a message.");
                        return;
                    }

                    spinner.style.display = "block"; // 로딩 애니메이션 표시

                    fetch('/chatbot/analyze_message/', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': csrfToken
                        },
                        body: JSON.stringify({ message })
                    })
                        .then(response => response.json())
                        .then(data => {
                            spinner.style.display = "none"; // 로딩 애니메이션 숨기기
                            if (data.status === 'success') {
                                window.location.href = data.redirect_url;
                            } else {
                                alert(data.message);
                            }
                        })
                        .catch(error => {
                            console.error("Error:", error);
                            spinner.style.display = "none";
                        });
                };

                sendButton.addEventListener('click', sendMessage);
                textBox.addEventListener('keydown', (event) => {
                    if (event.key === 'Enter' && !event.shiftKey) {
                        event.preventDefault();
                        sendMessage();
                    }
                });
            });

        
            // 네비게이션 바 애니메이션
            document.addEventListener("DOMContentLoaded", () => {
                const logoContainer = document.querySelector(".logo-container");
                const navbar = document.querySelector(".navbar");
        
                // 초기 상태 숨기기
                navbar.style.opacity = "0";
                navbar.style.transform = "translate(-50%, -50%) translateY(-20px)";
                navbar.style.transition = "opacity 0.3s ease, transform 0.3s ease";
        
                // 마우스를 올렸을 때 navbar 나타나기
                logoContainer.addEventListener("mouseenter", () => {
                    navbar.style.opacity = "1";
                    navbar.style.transform = "translate(-50%, -50%) translateY(0)";
                });
        
                // 마우스를 뗐을 때 navbar 숨기기
                logoContainer.addEventListener("mouseleave", () => {
                    navbar.style.opacity = "0";
                    navbar.style.transform = "translate(-50%, -50%) translateY(-20px)";
                });
            });
        
            // 페이지 스크롤 처리
            document.addEventListener("DOMContentLoaded", () => {
                const fragment = window.location.hash.substring(1);
                if (fragment) {
                    setTimeout(() => {
                        const targetElement = document.getElementById(fragment);
                        if (targetElement) {
                            const offsetTop = targetElement.offsetTop - 220; // 섹션 위치 조정
                            window.scrollTo({
                                top: offsetTop,
                                behavior: "smooth"
                            });
                        }
                    }, 100); // 0.1 초 대기
                }
        
                // 링크 클릭 처리
                const links = document.querySelectorAll(".scroll-link");
                links.forEach((link) => {
                    link.addEventListener("click", (e) => {
                        e.preventDefault(); // 기본 앵커 동작 방지
        
                        const href = link.getAttribute("href");
                        if (href.includes("#")) {
                            const [baseUrl, fragment] = href.split("#");
                            if (baseUrl === "" || baseUrl === window.location.pathname) {
                                // 같은 페이지 내 스크롤
                                const targetElement = document.getElementById(fragment);
                                if (targetElement) {
                                    const offsetTop = targetElement.offsetTop - 220;
                                    window.scrollTo({
                                        top: offsetTop,
                                        behavior: "smooth"
                                    });
                                }
                            } else {
                                // 다른 페이지로 이동
                                window.location.href = href;
        
                                window.addEventListener("hashchange", () => {
                                    const targetElement = document.getElementById(fragment);
                                    if (targetElement) {
                                        const offsetTop = targetElement.offsetTop - 220;
                                        window.scrollTo({
                                            top: offsetTop,
                                            behavior: "smooth"
                                        });
                                    }
                                });
                            }
                        }
                    });
                });
            });
        </script>
        
        {% endblock %}
    </main>
</body>
   
{% block footer-section %}
<footer style="height: 58vh; width: 100%; background-color: #f1f1f1;">
    <!-- Contact section -->
    <section id="contact" class="section footer-section">
        <div class="contact-content">
            <h2 style="text-align: center; color: black; font-size: 40px; font-weight: bold; margin-top: 3%;">CONTACT</h2>
            <div class="logo-links" style="margin-top: 7%; text-align: center;">
                <a href="https://github.com/miay221/better_than_now"><img class="github-logo" src="{% static 'images/github_logo.png' %}" alt="github-logo"></a>
                <a href="https://blog.naver.com/about_myself_/223632909091"><img class="naver-logo" src="{% static 'images/naver_logo.png' %}" alt="naver-logo"></a>
                <img class="email-logo" src="{% static 'images/email_logo.png' %}" alt="email-logo">
            </div>
        </div> 
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.min.js"></script>
    <script src="{% static 'js/animation.js' %}"></script>
</footer>
{% endblock %}
</html>
