<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Introduction</title>
    <link rel="stylesheet" href="{% static 'css/qr.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'index' %}"><img src="{% static 'images/logo_back.png' %}" alt="Logo"></a>
        </div>
        <nav>
            <a href="{% url 'chatbot_index' %}">Try Chatbot Service</a>
        </nav>
    </header>

    <script src="{% static 'images/qr.png' %}"></script>
</body>
</html>
