{% extends 'home/index.html' %}

{% load static %}

{% block animation_elements %}{% endblock %}
{% block logo-movie %}{% endblock %}
{% block about-content %}{% endblock %}
{% block input_container %}{% endblock %}


{% block qr-content %}
<div style="text-align: center; margin-top: 19%; margin-bottom: 19%;">
    <h3 style="font-family: system-ui;"><strong>
        여기를 스캔하시면 Github 개발 페이지로 연결됩니다! 
    </strong></h3>
    <p><strong>
        전체 과정과 소개를 확인하실 수 있습니다.
    </strong></p>
    <img src="{% static 'images/QR.png' %}" alt="QR code">
</div>
{% endblock %}

